$backgroundColor: #282C34;
$txtColor: #D7DAE0;

$sidebarbgc: #21252B;
$sidebarBorder: #181A1F;

$navColor: #9DA5B4;
$navTitle: #666666;
$navActiveBg: #2C313A;
$navActiveColor: #FFF;

$navBtn: #2F333D;

$ctxBg: #333842;
$ctxColor: #9DA5B4;
$ctxShadow: #21252B;
$ctxHeader: #FFFFFF;
$ctxDivider: #21252B;

$formBg: #DEDEDE;

$loginModal: #424242;
$loginBg: #202329;

$toolbarShadow: #f5f4f5;
$toolbarBg: #e8e6e8;
$toolbarGradient: #d1cfd1;
$toolbarBorder: #c2c0c2;

$rootFont: './' !default;
